<body>
    <main role="main" class="bg-info">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron bg-info ">
        <div class="container">
          <h1 class="display-3 text-white">Bienvenue sur TGP ! 👹</h1>
          <q class="text-white">Votre nouvelle source de potin et autres infos croustillantes !</q>
          <p></p>
          <p><a class="btn btn-warning btn-lg text-white" href="<%= gossips_path %>" role="button">En savoir plus &raquo;</a></p>
        </div>
      </div>
       <!-- /container -->
    </main>
</body>
