<html>
  <head>
    <title>The Gossip Project</title>
  </head>
<body>
<h1>Voici la page du potin n°<%= "#{params['id']}"%></h1>
<% gossips.each do |gossip| %>
<h2>Son auteur est : <%= gossip.author %></h2>
<h2>Le contenu : <%= gossip.content %></h2></br>
<% end %>
<%# <a href="<%= id/edit">Editer ce potin</a> %>
<a href="./edit/">Editer le potin</a>

<p><a href="/">Retourne à la page d'accueil</a></p>
</body>
</html>