<!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles.css" />
    <title>The Gossip Project</title>
  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <li class="nav-item"><%= link_to "Accueil", gossips_path, class:"nav-link"%></li>
        <li class="nav-item"><%= link_to "Team", team_path, class: "btn btn-primary"%></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, class:"nav-link" %></li>
     </div>
  </nav>
    <h1 class="text-center p-3">L'équipe</h1>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="jb.jpg" alt="" />
          <h4>Nicolas Pelletier</h4>
          <p class="text-muted mt-2 mb-2">Relation client</p>
          <p class="card-text">
            " Le corse "
          </p>
          <p class="card-title">
            Le moteur
          </p>
        </div>
      </div>

      <div class="col-md-8 offset-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="sid.png" alt="" />
          <h4>Sidney Audibert</h4>
          <p class="text-muted mt-2 mb-2">Commercial</p>
          <p class="card-text">
            " Le sudiste "
          </p>
          <p class="card-title">Le roi de la boucle</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="felicie.jpg" alt="" />
          <h4>Félicie Bernard</h4>
          <p class="text-muted mt-2 mb-2">Ingénieur son</p>
          <p class="card-text">
            " La normande "
          </p>
          <p class="card-title">
            La fanfaronne
          </p>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="loick.jpg" alt="" />
          <h4>Loïck Jouan</h4>
          <p class="text-muted mt-2 mb-2">Testeur d'ambiance</p>
          <p class="card-text">
            " Le nantais "
          </p>
          <p class="card-title">
            Le raleur motivé
          </p>
        </div>
      </div>
  </body>
</html>
